apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: study-planner
spec:
  selector:
    app: backend
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5001
  type: ClusterIP